
@{
    ViewData["Title"] = "forgetPass";
}


<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2 style="font-family:Consolas">Good Luck !!!</h2>
            <p>We have sent a mail to your email !! Please check mail by click <a href="https://mail.google.com/mail">Go to Email</a></p>
            <p>Don't SHARE it for anyone !!!</p>
            <p><a class="btn btn-secondary" asp-controller="Login" asp-action="Index">Back to Login</a></p>
        </div>
    </div>
</div>